@using INFT3050.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AuthUser> signInManager
<ul class="navbar-nav">
    <a style="color:white;" asp-area="Admin" asp-controller="Admin" asp-action="Logout">Logout</a>
</ul>